@font-face {
    font-family: Palanquin;
    src: url(palanquin-light.ttf);
}

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
    font-family: Palanquin;
}

body {
    height: 100%;
    width: 100%;
    background-color: burlywood;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 80%;
    height: 100%;
    background-color: bisque;
}

.app-main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}

.panel-summaries {
    flex: 0 0 400px;
    overflow: scroll;
}

.panel-summaries > ul {
    height: 100%;
}

.chat-summary {
    display: flex;
    flex-direction: column;
    height: 72px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}

.chat-summary:hover {
    background-color: #eeeeee;
}

.selected {
    background-color: lightgrey;
}

.chat-summary-top {
    display: flex;
    flex-direction: row;
}

.chat-summary-top-title {
    font-weight: bold;
    flex: 1 1;
}

.chat-summary-top-time {
    flex: 0 0 50px;
}

.chat-summary-bottom {
    display: flex;
    flex-direction: row;
}

.chat-summary-bottom-message {
    flex: 1 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-summary-bottom-button {
    flex: 0 0 40px;
}

.panel-chat {
    flex: 1 1;
}

.chat {
}

.chat-message {
    border-style: dashed;
}

.chat-messages {
    overflow: scroll;
}

.chat-input {
    width: 100%;
}

.panel-summaries > ul {
    list-style-type: none;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  /*width: 100%;*/
  height: 30px;
  /*padding: 10px 20px;*/
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
    width: 100%;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__suggestion-match {
  color: red;
  font-weight: bold;
}
