[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

uvloop = "*"
aiohttp = "*"
"aiohttp-jinja2" = "*"
"jinja2" = "*"
aiopg = "*"
pytz = "*"
pyjwt = "*"
passlib = "*"
"argon2-cffi" = "*"


[dev-packages]

